{% extends "base.html" %}

{% block title %}Staff Registeration{% endblock title %}

{% block body %}
<div class = "container py-4">
    <form method ="POST" action = "/staffReg">
        {% csrf_token %}
        
       
        <h1 class="h3 mb-3 fw-normal ">Please Provide the information for Registeration</h1>
        <div class="form-group py-3">
            <label for="formGroupExampleInput">First Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name ="firstname"placeholder="First Name">
          
          <div class="form-group py-3">
            <label for="formGroupExampleInput">Last Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput"  name ="lastname"placeholder="Last Name">
          </div>
      <div class="form-row">
        <div class="form-group col-md-6 py-3">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" name ="email" placeholder="Email">
        </div>
        <div class="form-group col-md-6 py-3">
          <label for="inputPassword4">Password</label>
          <input type="password" class="form-control" id="inputPassword4"  name ="password" placeholder="Password">
        </div>
      </div>
      <div class="form-group col-md-6 py-3">
        <label for="inputPassword4">Confirm Password</label>
        <input type="password" class="form-control" id="inputPassword4"  name ="C_password" placeholder="Confirm Password">
      </div>
    </div>
      <div class="form-group py-3">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress"  name ="address1" placeholder="1234 Main St">
      </div>
      <div class="form-group py-3">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" id="inputAddress2"  name ="address2"placeholder="Apartment, studio, or floor">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 py-3">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity"  name ="city">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">State</label>
              <input type="text" class="form-control" id="inputCity" name ="state">
            </div>
        <div class="form-group col-md-2 py-3">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip" name ="zipcode">
        </div>
      </div>
      
      <button type="submit" class="btn btn-primary py-3">Register</button>
{% endblock body %}